.container
  .row
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
.container
  .row
    = link_to "Get My News", get_news_xmls_path, :method => 'put'
    - @news.each do |news|
      = news.forum
