.container
  .row
    %h1.bg-success
      Hey.... Do It!
    %p.bg-success
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
.container
  .row
    = link_to "Get My News", get_news_xmls_path, class: 'btn btn-success btn-lg', :method => 'put', data: {confirm: 'Are you sure?'}
